.homeheader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(/img/phuket.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;
    background-attachment: fixed;
}

.nav-item {
    padding: 8px 0;
    margin-left: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: x-large;

}
.join-btn {
    padding: 8px 0;
    margin-left: 100px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: x-large;
}
.title {
    text-transform:uppercase;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 80%;
    left: 10%;
}
.logo {
    padding: 15px;
    margin-right: 10px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.sticky {
    position: fixed;
}
.nav-list {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.book-text {
    color: beige;
    border-color: black;
    float:right;
    margin-top: 150px;
    
}
.con-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.247), rgba(0, 0, 0, 0.808)),url(/img/bg.jpg);
    color: beige;
    border-radius: 30px;
}
footer {
    padding-top: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(/img/bg.jpg);
    color: beige;
    font-weight: 300;
    border-style: groove;
    border-width: 1px;
    border-color: black;
    
}

h2 {
    padding: 10px;
}
p {
    line-height: 2;
    font-size: large;
}

.input-group-text {
    width: 140px;
}

.mf {
    padding-top: 30px;
    padding-bottom: 15px;
}

.headermf {
    padding-bottom: 15px;
}

.altnavbar {
    background-color:rgb(29, 7, 7);
    
}

.tripheader {
    height: 30vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.4)),url(/img/bg.jpg);
    border-style: ridge;
    border-width: 0px;
    border-color: beige;
}